name: Pull request

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-and-analyze:
    name: Test and Analyze
    runs-on: ubuntu-22.04
    env:
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.jvmargs='-Xmx2g -XX:MaxMetaspaceSize=512m' -Dorg.gradle.parallel=true"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: gradle
      - name: Run test
        run: |
          ./gradlew -p "practices/inventory" test